body {
    font-family: 'Andale Mono', monospace;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    color: #333;
}

.chart-container {
    width: 80%; /* Ajuste para ocupar 80% da largura disponível */
    max-width: 500px; /* Largura máxima para evitar que fique muito largo em telas grandes */
    margin: auto;
    padding: 20px;
    background-color: #fff; /* Movido o background-color do canvas para .chart-container */
    border-radius: 8px; /* Adicionado borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicionado sombra para destacar o gráfico */
}

canvas {
    width: 100%; /* Ocupa 100% do espaço dentro do .chart-container */
    height: auto; /* Mantém a proporção do gráfico */
}

form {
    width: 80%;
    max-width: 400px;  
    max-height: 500px;  
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label, input {
    margin: 5px;
    width: 100%; /* Ocupa todo o espaço disponível */
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho total */
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0000cd;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transição suave para hover */
}

button:hover {
    background-color: #000080;
}
